<div class="container">

  <app-title>Meu Perfil</app-title>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1">
        <div class="gravatar gravatar-profile">
          <img src="https://s.gravatar.com/avatar/e0d632ce4d79d298364591dc112080ef?s=60&amp;d=mm">
        </div>
      </div>
      <div class="col-lg">
        <span>rodrigo.santos</span>
        <br>
        <span>Criado em: 27/11/2017 14:44</span>
      </div>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="save()" novalidate>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Nome *</label>
          <div class="col-sm-6">
            <input type="text"
                    class="form-control"
                    formControlName="inputName"
                    [(ngModel)]="userModel.nome"
                    placeholder="Nome"
                    title="{{ isInvalidControl(userForm.controls.inputName, 'Nome') }}"
                    [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.inputName) }">
          </div>
        </div>
        <div class="form-group">
          <label for="gravatar" class="col-sm-2 control-label">Hash Gravatar</label>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text"
                      class="form-control"
                      formControlName="inputGravatar"
                      [(ngModel)]="userModel.gravatar"
                      placeholder="Hash Gravatar"
                      title="{{ isInvalidControl(userForm.controls.inputGravatar, 'Hash Gravatar') }}"
                      [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.inputGravatar) }">

                      <span class="input-group-addon helper-gravatar" (click)="openModalGravatar()">?</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="celular" class="col-sm-2 control-label">Celular *</label>
          <div class="col-sm-2">
            <input type="tel"
                    class="form-control"
                    formControlName="inputCelular"
                    [(ngModel)]="userModel.celular"
                    placeholder="Celular"
                    title="{{ isInvalidControl(userForm.controls.inpuCelular, 'Celular') }}"
                    [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.inpuCelular) }">
          </div>
        </div>
        <div class="form-group">
          <label for="ramal" class="col-sm-2 control-label">Ramal</label>
          <div class="col-sm-2">
            <input type="number"
                    class="form-control"
                    formControlName="inputRamal"
                    [(ngModel)]="userModel.ramal"
                    placeholder="Ramal"
                    title="{{ isInvalidControl(userForm.controls.inputRamal, 'Ramal') }}"
                    [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.inputRamal) }">
          </div>
        </div>
        <div class="form-group">
          <label for="andar" class="col-sm-2 control-label">Andar</label>
          <div class="col-sm-1">
              <div class="btn-toolbar" role="toolbar" aria-label="Andar">
                <div class="btn-group mr-2"
                      role="group"
                      ngbRadioGroup
                      aria-label="First group"
                      formControlName="inputAndar"
                      [(ngModel)]="userModel.andar">

                  <label ngbButtonLabel class="btn btn-secondary">
                    <input ngbButton type="radio" [value]="1">1º
                  </label>
                  <label ngbButtonLabel class="btn btn-secondary">
                    <input ngbButton type="radio" [value]="2">2º
                  </label>
                  <label ngbButtonLabel class="btn btn-secondary">
                    <input ngbButton type="radio" [value]="3">3º
                  </label>
                  <label ngbButtonLabel class="btn btn-secondary">
                    <input ngbButton type="radio" [value]="4">4º
                  </label>
                  <label ngbButtonLabel class="btn btn-secondary">
                    <input ngbButton type="radio" [value]="5">5º
                  </label>
                </div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPosicao" class="col-sm-2 control-label">Posição</label>
          <div class="col-sm-2">
            <input type="text" class="form-control"
                    formControlName="inputPosicao"
                    [(ngModel)]="userModel.posicao"
                    placeholder="Posicao"
                    title="{{ isInvalidControl(userForm.controls.inputPosicao, 'Posicao') }}"
                    [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.inputPosicao) }">
          </div>
        </div>
        <div class="form-group ">
          <label class="col-sm-2 control-label">Participar do Sorteio</label>
          <div class="col-sm-1">
              <div class="btn-group"
                    ngbRadioGroup
                    name="radioBasic"
                    formControlName="inputParticipaSorteio"
                    [(ngModel)]="userModel.participaSorteio">
                  <label ngbButtonLabel class="btn btn-secondary">
                    <input ngbButton type="radio" [value]="true"> Sim
                  </label>
                  <label ngbButtonLabel class="btn btn-secondary">
                    <input ngbButton type="radio" [value]="false"> Não
                  </label>
                </div>
          </div>
        </div>

        <button hide-in-mobile=""
                type="submit"
                class="btn btn-primary pull-right margin-bottom-sm">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Salvar
        </button>
      </form>
    </div>
  </div>
</div>
