
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" [routerLink]="['/vehicle']">
    <img src="assets/images/logo_parking.png">
  </a>
  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarSupportedContent" 
          aria-controls="navbarSupportedContent" 
          aria-expanded="true" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" 
          href="javascript:void(0);" 
          id="navbarDropdown" 
          role="button" 
          data-toggle="dropdown" 
          aria-haspopup="true" 
          aria-expanded="false">
            Veículos
            <i class="fa fa-car"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/vehicle']" [ngClass]="{ 'active' : (activeUrl == '/vehicle') }">
            <i class="fa fa-search"></i>
            Procurar Veículos
          </a>
          <a class="dropdown-item" [routerLink]="['/vehicle/register']" [ngClass]="{ 'active' : (activeUrl == '/vehicle/register') }">
            <i class="fa fa-car"></i>
            Meus Veículos
          </a>
        </div>
      </li>
    
      <li class="nav-item" [ngClass]="{ 'active' : (activeUrl == '/profile') }">
        <a class="nav-link" [routerLink]="['/profile']">
          <i class="fa fa-user"></i>
          Meu Perfil
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active' : (activeUrl == '/about') }">
        <a class="nav-link" [routerLink]="['/about']">
          <i class="fa fa-question"></i>
          Sobre
        </a>
      </li>
    </ul>
    <span class="navbar-text">
      
      
        <a hide-in-mobile href="#/profile" class="navbar-profile">
            <div class="gravatar gravatar-navbar pull-left">
                <!-- <img src="https://s.gravatar.com/avatar/{{user.avatar}}?s=25" /> -->
            </div>
            <!-- {{ user.name }} -->
        </a>
        <!-- <a show-in-mobile [routerLink]="['/profile']" data-toggle="collapse" data-target="#itens-menu">{{user.name}}</a> -->
      
        <a class="nav-link" [routerLink]="['/about']">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          Sair
        </a>
      
    </span>
  </div>
</nav>

