


<nav class="nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Veículos</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/vehicle">Procurar Veículo</a>
      <a class="dropdown-item" href="/vehicle/register">Meus Veículos</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile">Meu Perfil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">Sobre</a>
  </li>
</nav>