
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
      <div class="gravatar gravatar-profile">
        <img src="https://s.gravatar.com/avatar/{{ userModel?.gravatar }}?s=60&d=mm" />
      </div>
    </div>
    <div class="col-lg">
      <span>{{ userModel?.usuario }}</span>
      <br>
      <span>Criado em: {{ userModel?.dataCriacao | date: 'dd/MM/yyyy HH:mm' }}</span>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="nome" class="col-sm-2 control-label">Nome *</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome"
            title="{{ isInvalidControl(userForm.controls.nome, 'Nome') }}" [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.nome, '') }">
        </div>
      </div>
      <div class="form-group">
        <label for="gravatar" class="col-sm-2 control-label">Hash Gravatar</label>
        <div class="col-sm-4">
          <div class="input-group">
            <input type="text" class="form-control" id="gravatar" formControlName="gravatar"
              placeholder="Hash Gravatar" title="{{ isInvalidControl(userForm.controls.gravatar, 'Hash Gravatar') }}"
              [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.gravatar, '') }">

            <span class="input-group-addon helper-gravatar" (click)="openModalGravatar()">?</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="celular" class="col-sm-2 control-label">Celular *</label>
        <div class="col-sm-2">
          <input type="tel" class="form-control" celMask id="celular" formControlName="celular"
            placeholder="Celular" title="{{ isInvalidControl(userForm.controls.celular, 'Celular') }}" [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.celular, '') }">
        </div>
      </div>
      <div class="form-group">
        <label for="ramal" class="col-sm-2 control-label">Ramal</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" id="ramal" formControlName="ramal" placeholder="Ramal"
            title="{{ isInvalidControl(userForm.controls.ramal, 'Ramal') }}" [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.ramal, '') }">
        </div>
      </div>
      <div class="form-group">
        <label for="andar" class="col-sm-2 control-label">Andar</label>
        <div class="col-sm-1">
          <div class="btn-toolbar" role="toolbar" aria-label="Andar">
            <div class="btn-group mr-2" role="group" ngbRadioGroup aria-label="First group" id="andar" formControlName="andar">
              <label ngbButtonLabel class="btn btn-secondary" *ngFor="let floor of floors">
                <input ngbButton type="radio" [value]="floor.id">{{ floor.description }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="posicao" class="col-sm-2 control-label">Posição</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="posicao" formControlName="posicao"
            placeholder="Posicao" title="{{ isInvalidControl(userForm.controls.posicao, 'Posicao') }}" [ngClass]="{ 'input-error': isInvalidControl(userForm.controls.posicao, '') }">
        </div>
      </div>
      <div class="form-group ">
        <label for="participaSorteio" class="col-sm-2 control-label">Participar do Sorteio</label>
        <div class="col-sm-1">

          {{userForm.controls.participaSorteio.value}}

          <div class="btn-group" ngbRadioGroup id="participaSorteio" formControlName="participaSorteio">
            <label ngbButtonLabel class="btn btn-secondary">
              <input ngbButton type="radio" [value]="true"> Sim
            </label>
            <label ngbButtonLabel class="btn btn-secondary">
              <input ngbButton type="radio" [value]="false"> Não
            </label>
          </div>
        </div>
      </div>

      <button hide-in-mobile="" type="submit" class="btn btn-primary pull-right margin-bottom-sm">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        Salvar
      </button>
    </form>
  </div>
</div>

