:host {
    .gravatar {
        border-radius: 50%;
        overflow: hidden;
    }    
    .gravatar-profile {
        width: 60px;
        height: 60px;
    }
    .form-horizontal{
        width: 100%;
    }
}

