/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import "../node_modules/font-awesome/css/font-awesome.css";

body {
    background-image: url(assets/images/textura.png);
}

.page-header {
    margin-top: 1%;
    padding-bottom: 0px;
    margin: 40px 0 20px;
    border-bottom: 2px solid #FBB041;
}

a {
    color: #fbb041;
    text-decoration: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.input-error {
    border: 1px solid red;
}